:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4d5156;
    --themeDotBorder: #24292e;
    --previewBg: rgb(251,249,243,0.8);
    --previewShadawColor: #f0ead6;
    --buttonColor: black;
}


html, body{
    margin: 0;
    padding: 0;
}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}
h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
.s1{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrepper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrepper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
       'nav-wrepper nav-wrepper'
        'left-column right-column'
    ;
}

.nav-wrepper{
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav-wrepper;
    border-bottom: 1px solid var(--borderColor);

}

.dots-wrepper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: red;
}
#dot-2{
    background-color: yellow;
}
#dot-3{
    background-color: green;
}
.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); 
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation a{
    color: var(--mainText);
}
#navigation li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 2px solid var(--borderColor);
    object-fit: cover;
}

.theme-dots{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

#theme-option-wrepper{
    display: flex;
    justify-content: center;
}

.theme-dots:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: blue;
}
#green-mode{
    background-color: green;
}
#purple-mode{
    background-color: purple;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.preview-shedaw{
    background-color: var(--previewShadawColor);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

.about-wrepper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

.about-me a{
    color: var(--mainText);
    text-decoration: underline;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadawColor);
}

.social-link{
    display: grid;
    align-content: center;
    text-align: center;
}

.social-link a{
    color: var(--mainText);
    text-decoration: underline;
    padding: 5px;
}
.social-link a img{
    height: 30px;
    width: 30px;
}
#social-img{
    width: 100%;
}

.post-wrepper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -2px 7px 11px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 11px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 11px -9px rgba(0,0,0,0.75);
}

.thumnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding: 15px;
}

.post-tile{
    color: black;
    margin: 0;
}

.post-intro{
    font-size: 14px;
    color: #4b5156;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border:1px solid var(--borderColor);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#contact-form label{
    line-height: 2.7em;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;

}
@media screen and (max-width: 1200px){

    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){

    .intro-wrepper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrepper'
            'left-column' 
            'right-column'
        ;
    }

    .right-column{
        justify-content: center;
    }
}